
*


!.gitignore


!/kitty/
!/fastfetch/
!/hypr/
!/rofi/
!/spicetify/
!/nostress.jpg
!/README.md


!/kitty/**
!/fastfetch/**
!/hypr/**
!/rofi/**
!/spicetify/**

 !/.p10k.zsh
 !/.zsh_history
 !/.zshrc

