
*


!.gitignore


!/kitty/
!/fastfetch/
!/hypr/
!/rofi/
!/spicetify/
!/nvim/
!/nostress.jpg
!/README.md


!/kitty/**
!/fastfetch/**
!/hypr/**
!/rofi/**
!/spicetify/**
!/nvim/**
!/waybar/**

!.p10k.zsh
!.zsh_history
!.zshrc
!install.sh

